h2.section-title Say hello to us
.contacts-data
	.contacts-data__item
		svg.contacts-data__item-svg.icon-envelope: use(xlink:href="#envelope")
		small.contacts-data__item-label Email
		a(href="mailto:#") sitename@gmail.com
	.contacts-data__item
		svg.contacts-data__item-svg.icon-phone: use(xlink:href="#phone")
		small.contacts-data__item-label Phone
		a(href="tel:#") +380995444444
	.contacts-data__item.contacts-data__item_fullwidth
		svg.contacts-data__item-svg.icon-map-point: use(xlink:href="#map-point")
		small.contacts-data__item-label Adress
		p Kyiv, Street Name, 12