form.contacts__form
	strong.contacts__form-title Contact us
	.contacts__form-inputs
		input.contacts__form-name(type="text" placeholder="Enter your name")
		input.contacts__form-email(type="email" placeholder="Enter your email")
		textarea.contacts__form-textarea(placeholder="Enter Text..." name="", cols="30", rows="10")
	button.link.link_wide(type="submit") Submit