header.header
	.container
		.header__inner
			img.header__logo(src="https://www.placecage.com/200/50")
			nav.header__menu
				mixin headerLink(link, name)
					a.header__link(href='#'+link)=name
				+headerLink('about-us', 'About Us')
				+headerLink('services', 'Services')
				+headerLink('cases', 'Our Cases')
				+headerLink('technology', 'Technology')
				+headerLink('career', 'Career')
				+headerLink('contacts', 'Contact Us')