doctype html
html
	head
		meta(charset="utf-8")
		title Title
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='preconnect' href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap' rel='stylesheet')
		link(rel="stylesheet" href="css/fullpage.css")
		link(rel="stylesheet" href="css/slick.css")
		link(rel="stylesheet" href="css/slick-theme.css")
		link(rel="stylesheet" href="css/styles.css")
	body
		include includes/_mixins.pug

		#fullpage.fullpage-wrap
			include _header.pug

			section.section.intro
				.container
					h1.intro__title make your work <span class="intro__title-span"> easier</span>
					p.intro__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus volutpat in blandit blandit ac. Lectus metus non aliquet pellentesque. Sit porttitor ut elementum massa fringilla mauris. Fames amet in venenatis lectus in eleifend.
					a(href="#").link.intro__btn Learn more

				+elipce('intro__elipce')
			
			section.section.about
				
				.container.about__box
					.about__left
						h2.section-title About us
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis impedit asperiores quasi cum vero doloremque eius distinctio voluptate dolore reprehenderit excepturi magnam animi nulla consequatur reiciendis debitis harum dolor, explicabo provident molestiae! Molestiae ullam voluptatibus impedit earum quasi, sequi eaque iste totam, nobis possimus recusandae neque hic veritatis optio?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis impedit asperiores quasi cum vero doloremque eius distinctio voluptate dolore reprehenderit excepturi magnam animi nulla consequatur reiciendis debitis harum dolor, explicabo provident molestiae! Molestiae ullam voluptatibus impedit earum quasi, sequi eaque iste totam, nobis possimus recusandae neque hic veritatis optio?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis impedit asperiores quasi cum vero doloremque eius distinctio voluptate dolore reprehenderit excepturi magnam animi nulla consequatur reiciendis debitis harum dolor, explicabo provident molestiae! Molestiae ullam voluptatibus impedit earum quasi, sequi eaque iste totam, nobis possimus recusandae neque hic veritatis optio?
					.about__right
						mixin aboutItem(icon, title, text)
							.about__item
								svg(class="icon-"+icon): use(xlink:href="#"+icon)
								strong=title
								p=text
						+aboutItem('speed', 'Speed', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
						+aboutItem('quality', 'Quality', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
						+aboutItem('approach', 'Individual approach', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
						+aboutItem('team', 'Dedicated team', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
						+aboutItem('tech', 'New Technologies', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
						+aboutItem('speed', 'Speed', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas?')
				

				+dots('about__dots about__dots_left')
				+dots('about__dots about__dots_right')
			section.section.services
				.container
					.services__box
						.services__left
							img.services__img(src="img/services-bg.jpg")
						.services__right
							h2.section-title Services
							.services__tab-container
								.services__tab#dev.is-active
									p 1Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam dignissimos officia reiciendis. Amet laborum corporis ut quia sunt et nam, neque ducimus accusantium dolorum cumque dolore culpa modi harum ex distinctio sed nemo ipsa quidem inventore nulla aut deleniti velit. In sint quis, odio provident velit quisquam ab rem eum.
								.services__tab#audit
									p 2Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam dignissimos officia reiciendis. Amet laborum corporis ut quia sunt et nam, neque ducimus accusantium dolorum cumque dolore culpa modi harum ex distinctio sed nemo ipsa quidem inventore nulla aut deleniti velit. In sint quis, odio provident velit quisquam ab rem eum.
								.services__tab#optimization
									p 3Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis suscipit distinctio consequuntur illum corporis hic beatae cupiditate quasi alias ullam vel, dolor nisi consequatur error quidem deserunt rerum voluptas fugit eum maiores dicta nam. Quam, laboriosam! Fuga cumque laborum vero inventore atque, esse explicabo itaque quaerat recusandae fugiat molestiae vel?
								.services__tab#consultation
									p 4Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique illum maiores reprehenderit optio laboriosam quis neque inventore, doloremque assumenda est veniam asperiores qui dicta ut ex voluptate enim deserunt nisi repellat sit natus deleniti eos recusandae quas! Optio, rem. Dolores velit odio libero ut veritatis corrupti sit amet dolor accusantium.
							.services__items
								button.services__item.btn(data-tab="dev").is-active Development
								button.services__item.btn(data-tab="audit") Audit
								button.services__item.btn(data-tab="optimization") Optimization
								button.services__item.btn(data-tab="consultation") Consultation
							
				.services__circle

			section.section.cases
				.container
					.cases__box
						.cases__left
							h2.section-title Our cases
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque explicabo quae dignissimos, atque ab eius nisi unde dolores? Impedit suscipit dignissimos similique eius omnis ratione animi perferendis deleniti nesciunt?
							.cases__slider-btns
								button#cases-slider-prev <
								button#cases-slider-next >
						.cases__right
							mixin casesItem
								.cases__item
									img.cases__item-img(src="img/slider-item.jpg")
									.cases__item-box
										strong.cases__item-title The name of project
										p.cases__item-subtitle Pablo Escobar | for 1 month
										.cases__item-chips
											span.chip CSS3
											span.chip HTML
											span.chip React.js
										p.cases__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nostrum repellat nulla. Ex cupiditate voluptates veniam, corporis consectetur sapiente expedita necessitatibus, mollitia ipsa, voluptatem eius alias optio! Vero qui neque dicta tempora totam debitis quidem! Nostrum, eveniet accusantium aliquid dolores labore distinctio cupiditate magni quas, aliquam atque repellendus sint. Voluptas!
										a.cases__item-link.link(href="#") See Details
				
							#cases-slider.cases__slider
								+casesItem
								+casesItem
								+casesItem
								+casesItem
				+dots('cases__dots')
				
			section.section.tech
				.container
					.tech__box
						h2.section-title Technology
						h3.tech__subtitle Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea.
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores architecto, deserunt ipsum officiis incidunt possimus. Fugit nobis labore dignissimos sed!
						ul.tech__list
							each val in ['HTML5','CSS3', 'Javascript', 'React.js', 'Redux', 'Pug', 'Node.js', 'SASS', 'Gulp.js', 'Git', 'Underscore.js', 'Webpack', 'Typescript']
								li.tech__list-item= val
				img.tech__elipce(src="img/tech-elipce.jpg")
			

			section.section.career
				.container.career__container
					h2.section-title Career
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ullam porro harum provident blanditiis maiores, excepturi perspiciatis dolorem deserunt aut culpa debitis sed iusto reiciendis voluptatibus asperiores ab quo dicta. Laborum iure nihil ullam pariatur. Ab, id vitae debitis quibusdam eos facere temporibus nisi laboriosam dolor, quidem illo similique eveniet?
					.career__box
						.career__item
							small.career__item-number No.1
							strong.career__item-title UI/UX Designer
							p.career__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet dolore natus distinctio quod? Qui, minima! Ea facere minus eveniet amet! Vel perspiciatis aliquid qui saepe, id, voluptas unde voluptatibus enim ea tempora dolores? Saepe eaque nobis voluptatem hic rem tempore quos beatae, id aperiam, quasi recusandae consequatur nemo aut.
							a.btn.btn_wide.career__item-btn(href="#") Learn more
				.career__bg
				+dots('career__dots')
			
			//contacts
			section.section.contacts
				.container
					.contacts__box
						.contacts__left

							include includes/_contact-data
							include includes/_contact-form									

						.contacts__right
							.contacts__map-wrap
								iframe.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.4769823182796!2d30.430333315731314!3d50.450841979475406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc3c0eb1581d%3A0x8ec1705b1e980e6!2z0LLRg9C70LjRhtGPINCS0LjQsdC-0YDQt9GM0LrQsCwgODIsINCa0LjRl9Cy!5e0!3m2!1suk!2sua!4v1490277531428' frameborder='0' style='border:0' allowfullscreen='')
				.footer-absolute
					include includes/_footer
				+dots('contacts__dots')
			//end contacts



		.svg-sprite.is-hidden
			include ../img/svg-output/svg-sprite.svg


		script(src="js/jquery-2.2.4.min.js")
		script(src="js/fullpage.js")
		script(src="js/slick.min.js")

		script(src="js/app.js")
		script.
			//todo deal with svg icons on hover
			//another slider arrow icons